

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= pet.name %></h5>
    <p class="card-text"> <%= pet.history %></p>
    <a href="#" class="btn btn-primary">ver más</a>
  </div>
</div>