<%= render "shared/header" %> 
<div class="container">
    <div class="row">
        <% @pet_available.each do |pet| %>
            <%= render "shared/petbox", pet: pet %> 
        <% end %>
    </div>
 </div>