<div class="container">
    
    <h1>Mis mascotas publicadas</h1>
    <% if @pet.any? %>
        <div class="row">
            <% @pet.each do |pet| %>
                <%= render "shared/petbox", pet: pet %> 
            <% end %>
        </div>
    <% else %>
      <div class="alert alert-warning" role="alert">
        No tienes mascotas publicadas
    </div>
        
    <% end %>
    
</div>