<div class="container">
    <h1>Perfil</h1>
    <div class="row">
        <div class="col-6">
            <%= current_user.username %>
            <%= current_user.email %>
        </div>
         <div class="col-6">
        </div>

    </div>
    <div class="row">

        <% @pet.each do |pet| %>
            <% if pet.user_id == current_user.id %>
                <%= render "shared/petbox", pet: pet %> 

            <% end %>
        <% end %>

    
    </div>
</div>